@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Junge&family=Londrina+Solid:wght@100;300;400;900&family=Rosarivo:ital@0;1&display=swap");

:root {
  --five: 1215.98px;
  --four: 751.53px;
  --three: 464.48px;
  --two: 287.07px;
  --xl: 177.42px;
  --lg: 109.66px;
  --md: 67.77px;
  --sm: 41.89px;
  --xsm: 25.88px;
  --xsm2: 16px;
  --xsm3: 9.89px;
  --primary: #021024;
  --primary-lighter: #003153;
  --secondary: #5483b3;
  --secondary-lighter: #7da0ca;
  --accent: #c1e8ff;
  --background: #000;
}

html,body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-image: url("../images/beans1.jpg");
  background-size: cover;
  background-attachment: fixed; /* Allows the image to move with the scroll */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  cursor: url("https://raw.githubusercontent.com/Lisiman/lisiman.…6663ac6a59f3dbfd9301b31/resources/ZEN-Cursor4.svg");
}

.londrina-solid-thin {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.londrina-solid-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-solid-black {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.junge-regular {
  font-family: "Junge", cursive;
  font-weight: 400;
  font-style: normal;
}

.rosarivo-regular {
  font-family: "Rosarivo", serif;
  font-weight: 400;
  font-style: normal;
}

.rosarivo-regular-italic {
  font-family: "Rosarivo", cursive;
  font-weight: 400;
  font-style: italic;
}
